:root {
  --main-text-font: Arial, Helvetica, sans-serif;
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
li {
  list-style: none;
}
a{
  text-decoration: none;
  
}
.space-between {
  justify-content: space-between;
}
.container {
  margin-top: 80px;
  max-width: 1200px;
  margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Loader Styles start here */
.loader-wrapper {
  --line-width: 5px;
  --curtain-color: #f1faee;
  --outer-line-color: #a8dadc;
  --middle-line-color: #457b9d;
  --inner-line-color: #1d3557;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1000;
}

.loader {
  display:block;
  position: relative;
  top:50%;
  left:50%;
/*   transform: translate(-50%, -50%); */
  width:150px;
  height:150px;
  margin:-75px 0 0 -75px;
  border:var(--line-width) solid transparent;
  border-top-color: var(--outer-line-color);
  border-radius:100%;
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
  z-index:1001;
}

.loader:before {
  content:"";
  position: absolute;
  top:4px;
  left:4px;
  right:4px;
  bottom:4px;
  border:var(--line-width) solid transparent;
  border-top-color: var(--inner-line-color);
  border-radius:100%;
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
}

.loader:after {
  content:"";
  position: absolute;
  top:14px;
  left:14px;
  right:14px;
  bottom:14px;
  border:var(--line-width) solid transparent;
  border-top-color: var(--middle-line-color);
  border-radius:100%;
  -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0%   { 
    -webkit-transform: rotate(0deg); 
      -ms-transform: rotate(0deg); 
          transform: rotate(0deg);
  }
  100% { 
    -webkit-transform: rotate(360deg); 
      -ms-transform: rotate(360deg); 
          transform: rotate(360deg);
  }
}
@keyframes spin {
  0%   { 
    -webkit-transform: rotate(0deg); 
      -ms-transform: rotate(0deg); 
          transform: rotate(0deg);
  }
  100% { 
    -webkit-transform: rotate(360deg); 
      -ms-transform: rotate(360deg); 
          transform: rotate(360deg);
  }
}

.loader-wrapper .loader-section {
  position:fixed;
  top:0;
  background:var(--curtain-color);
  width:51%;
  height:100%;
  z-index:1000;
}

.loader-wrapper .loader-section.section-left {
  left:0
}
.loader-wrapper .loader-section.section-right {
  right:0;
}

/* Loaded Styles */ 
.loaded .loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
}
.loaded .loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
}
.loaded .loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.loaded .loader-wrapper {
  visibility: hidden;
  transform:translateY(-100%);
  transition: all .3s 1s ease-out;
}
/* header */
/* -----------------------Responsive--------------- */
:root {
    --main-text-font:  Montserrat ,Arial, Helvetica, sans-serif;
}
* { 
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
nav{
  border-bottom: 2px solid #00000026;
}

nav{
    position: fixed;
    z-index: 99;
    width: 100%;
    background: #ffffffd5;
  
  }
  nav .wrapper{
    position: relative;
    max-width: 1300px;
    padding: 0px 30px;
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .wrapper .logo a{
    color: #f2f3f4;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
  }
  .wrapper .nav-links{
    display: inline-flex;
  }
  .nav-links li{
    list-style: none;
  }
  .nav-links li a{
    color: #181818;
    font-style: Bold;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links li a:hover{
    background: #ededed;
  }
  .nav-links .mobile-item{
    display: none;
  }
  .nav-links .drop-menu{
    position: absolute;
    background: #f2f3f4;
    width: 180px;
    line-height: 45px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  }
  .nav-links li:hover .drop-menu,
  .nav-links li:hover .mega-box{
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
  }
  .drop-menu li a{
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
  }
  .mega-box{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
  }
  .mega-box .content{
    background: #f2f3f4;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  }
  .mega-box .content .row{
    width: calc(25% - 30px);
    line-height: 45px;
  }
  .content .row img{
    width: 100vh;
    height: 100%;
    object-fit: cover;
  }
  .content .row header{
    color: #b25111;
    font-size: 20px;
    font-weight: 500;
  }
  .content .row .mega-links{
    margin-left: -40px;
    border-left: 1px solid rgba(255,255,255,0.09);
  }
  .row .mega-links li{
    padding: 0 20px;
  }
  .row .mega-links li a{
    padding: 0px;
    padding: 0 20px;
    color: #181818;
    font-size: 17px;
    display: block;
  }
  .row .mega-links li a:hover{
    color: #f2f2f2;
  }
  .wrapper .btn{
    color: #b25111;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  .wrapper .btn.close-btn{
    position: absolute;
    right: 30px;
    top: 10px;
  }
  @media screen and (max-width: 1200px) {
    .wrapper .logo {
       left: 3%;
    }
    .nav-links li a{
        font-size: 13px;
        padding: 9px 11px;
      }
    
  }
 
  @media screen and (max-width: 1024px) {
    .wrapper .logo {
       
       margin-left: auto;
       margin-right: auto;
    }
    .wrapper label {
        
    }
    .wrapper .btn{
      display: block;
    }
    .wrapper .nav-links{
      position: fixed;
      height: 100vh;
      width: 100%;
      max-width: 350px;
      top: 0;
      left: -100%;
      background: #f2f3f4;
      display: block;
      padding: 50px 10px;
      line-height: 50px;
      overflow-y: auto;
      box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
      transition: all 0.3s ease;
    }
    /* custom scroll bar */
    ::-webkit-scrollbar {
      width: 7px;
    }
    ::-webkit-scrollbar-track {
      background: #e6e6e6;
    }
    ::-webkit-scrollbar-thumb {
      background: #afafaf;
    }
    #menu-btn:checked ~ .nav-links{
      left: 0%;
    }
    #menu-btn:checked ~ .btn.menu-btn{
      display: none;
    }
    #close-btn:checked ~ .btn.menu-btn{
      display: block;
    }
    .nav-links li{
      margin: 15px 10px;
    }
    .nav-links li a{
      padding: 0 20px;
      display: block;
      font-size: 20px;
    }
    .nav-links .drop-menu{
      position: static;
      opacity: 1;
      top: 65px;
      visibility: visible;
      padding-left: 20px;
      width: 100%;
      max-height: 0px;
      overflow: hidden;
      box-shadow: none;
      transition: all 0.3s ease;
    }
    #showDrop:checked ~ .drop-menu,
    #showMega:checked ~ .mega-box{
      max-height: 100%;
    }
    .nav-links .desktop-item{
      display: none;
    }
    .nav-links .mobile-item{
      display: block;
      color: #b25111;
      font-size: 20px;
      font-weight: 500;
      padding-left: 20px;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.3s ease;
    }
    .nav-links .mobile-item:hover{
      background: #3A3B3C;
    }
    .drop-menu li{
      margin: 0;
    }
    .drop-menu li a{
      border-radius: 5px;
      font-size: 18px;
    }
    .mega-box{
      position: static;
      top: 65px;
      opacity: 1;
      visibility: visible;
      padding: 0 20px;
      max-height: 0px;
      overflow: hidden;
      transition: all 0.3s ease;
    }
    .mega-box .content{
      box-shadow: none;
      flex-direction: column;
      padding: 20px 20px 0 20px;
    }
    .mega-box .content .row{
      width: 100%;
      margin-bottom: 15px;
      border-top: 1px solid rgba(255,255,255,0.08);
    }
    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2){
      border-top: 0px;
    }
    .content .row .mega-links{
      border-left: 0px;
      padding-left: 15px;
    }
    .row .mega-links li{
      margin: 0;
    }
    .content .row header{
      font-size: 19px;
    }
  }
  .body-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding: 0 30px;
  }
  .body-text div{
    font-size: 45px;
    font-weight: 600;
  }
  button{
   background-color: #bd6d38; 
  border: none;
  color: white;
  padding: 9px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  -webkit-border-radius: 3 px;
  }



/* slider */
.sliders{
    padding-bottom: 20px;
    overflow: hidden;
    width: 100%;
    position: relative;
    top: 70px;
    z-index: 1;
  
}
.aspect-ratio-169 {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 40%;
    transition: all 0.3s ease;
    top: 0;
    left: 0;
    z-index: 1;
  
}
.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 90%;
    top: 0;
    left: 0;
    z-index: 1;
}
.dot-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -90px;
    z-index: 2;

}
.dot {
    width: 15px;
    height: 15px;
    background-color: #cccccc;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}
.active {
    background-color: #333333;
}

/* Menu-Home-List */

.menu-home {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 30px;
    position: relative;
}
.menu-banner {
  flex: 0 0 calc(50% - 30px);
  margin: 0 15px 40px 15px;
}
.menu-story{
  flex: 0 0 calc(33.333% - 30px);
    overflow: hidden;
    margin: 0 15px 0;
    min-height: 342px;
}


.menu_banner a {
  display: block;
  padding-top: 65%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 16px 0px #0000001F;
}
.menu_banner  a img {
  height: 400px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.menu-home .container {
  z-index: 1;
  position: relative;
}
@media screen and (min-width:1200px) {
  
  
}
.menu-item {
  background: #fff;
  -ms-flex: 0 0 calc(33.333% - 30px);
  -webkit-flex: 0 0 calc(33.333% - 30px);
  flex: 0 0 calc(33.333% - 30px);
  margin: 0 15px 40px;
  min-height: 145px;
}


.menu-item .menu-item-image {
  position: relative;
}

.menu-list-home{

}

.menu-item .menu-item-image > a {
  border-radius: 10px;
  overflow: hidden;
  display: block;
  width: 100%;
  padding-top: 100%;
  position: relative;
  box-shadow: 0px 0px 13px 0px #00000040;
}

.menu-item .menu-item-image > a > img {
  position: absolute;
  top: 0;
  left: 0;
}

.row {
  margin-left: -15px;
  margin-right: -15px
}

.flex_wrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex_direction_column {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.display_flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}


.card-container{
  position: relative;
  height: 500px;
  width: 500px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.card-container:hover{
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
}
.card-container .image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card-container .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}
.card-container:hover .image img{
  transform: scale(1.1);
}
.card-container .card-content{
  position: relative;
  height: 100%;
  width: 100%;
}
.card-content .wrapper{
  position: absolute;
  bottom: -100%;
  width: 100%;
  background: #fff;
  padding: 10px 25px;
  box-shadow: -1px -1px 6px rgba(0,0,0,0.1);
  transition: bottom 0.3s ease;
}
.card-container:hover .card-content .wrapper{
  bottom: 0px;
}
.wrapper .title{
  font-size: 22px;
  font-weight: 500;
}
.wrapper p{
  font-size: 17px;
  color: grey;
}
.wrapper .price{
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 23px;
  font-weight: 600;
  color: #456ABD;
}
.wrapper .content{
  margin: 10px 0;
}
.wrapper .content .name{
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}
.wrapper .content .size-value{
  width: 50%;
  display: flex;
  margin: 5px 0;
  justify-content: space-between;
}
.content .size-value span{
  display: block;
  height: 28px;
  width: 28px;
  text-align: center;
  line-height: 28px;
  border-radius: 50%;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  color: #456ABD;
}
.content .size-value span.active{
  background: #456ABD;
  color: #fff;
}
.content .colour-value{
  width: 30%;
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
}

.wrapper .btns{
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.wrapper .btns button{
  height: 40px;
  width: 100%;
  margin: 0 10px;
  border: 2px solid #456ABD;
  background: #456ABD;
  outline: none;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
.menu-cartegory {
  padding: 60px 0 80px 0;
}
.cartegory-top {
  margin-bottom: 50px;
}
.cartegory-top p {
  font-family: var(--main-text-font);
  margin: 0 12px;
  font-size: 12px;
}
.cartegory-left {
  width: 20%;
}
.menu_banner {
  flex: 0 0 calc(50% - 30px);
  margin: 0 15px 40px 15px;
}
.cartegory-right {
  width: 100%;
}

.cartegory-right-top-item:first-child {
  flex: 2;
  font-size: 16px;
  font-family: var(--main-text-font);
  
  font-weight: bold;
}
.cartegory-right-top-item {
  flex: 1;
  padding: 0 12px;
  margin: 0 0 30px 0;
}
.cartegory-right-content-tittle{
  border-left: 4px solid #E57905;
  padding: 0 10px;
}
.cartegory-right-top-item button {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: #ffff;
  border: 1px solid #dddddd;
}
.cartegory-right-top-item select {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: #ffff;
  border: 1px solid #dddddd;
}

.cartegory-right-content {
  margin-top: 20px;
  justify-content: flex-start;
  flex-direction: row;
  flex :auto ;
}
.cartegory-right-content-item {
  width: calc(25% - 12px);
  text-align: left;
  padding: 12px 10px 12px 10px;

}
.cartegory-right-content-item h1{
  font-size: 16px;
  font-family: var(--main-text-font);
  margin-top: 6px;
  margin-left: 6px;
  color: #333333;
}
.cartegory-right-content-item p {
  font-size: 14px;
  margin-top: 5px;
  font-weight: 400;
  margin-left: 6px;
}
.cartegory-right-content-item img{
  width: 100%;
}
.cartegory-right-bottom {
  justify-content: space-between;
  margin: 30px 0 20px;
}
.cartegory-left>ul>li {
  padding: 12px 0;
}

.cartegory-left>ul>li>a {
  color: black;
  font-size: 14px;
  font-weight: bold;
  font-family: var(--main-text-font);

}
.cartegory-left ul li ul li {
  padding-left: 10px;
}
.cartegory-left ul li ul li:hover a {
  color: #BF8A49;
}
.cartegory-left-li ul {
  height: 0;
  overflow-y: hidden;
  transition: all 0.3s ease;
}
.cartegory-left-li.block ul {
  height: auto;
 
}
.cartegory-left ul li ul li a {
  color: black;
  font-size: 12px;
}
/* banner2 */
.banner2{
  position: relative;
  height: 60%;
}
.banner2 img {
  width: 100%;
  
  border: none;
  max-width: 100%;
  height: auto;
}
.chuyen-nha{
  padding: 60px 0 100px 0 ;
  background: #FFF7E6 ;

}
.tittle{
  display: flex;
  padding-bottom: 30px;
  justify-content: center;
  align-self: center;
  font-size: 20;
  font-weight: 800 ;
  color: #b25111;
}


/* -------------footer */
.footer {
    padding: 30px 0 0;
    border-top: 2px solid black;
    background-color: #181818;
}
.footer-container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.footer-container p {
    font-weight: bold;
    font-size: 18px;
    font-family: var(--main-text-font);
}

.input-email i {
    position: absolute;
    right: 12px;
    bottom: 6px;
    cursor: pointer;
}

.footer-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
.footer-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1faee;
  width: 100%;
  padding: 30px 0;
}
.footer-items li {
    padding: 12px;
    position: relative;
}
.footer-items li img{

  background-color: #afafaf;
}
.footer-items li a {
    color:#ffffff;
    font-family: var(--main-text-font);
    font-weight: bold;
    font-size: 12px;
}
.footer-items li::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 50%;
    background-color: #cccccc;
    right: 0;
}
.footer-items li:last-child::after {
    display: none;
}
.footer-items li:last-child i {
    font-size: 12px;
    margin-right: 12px;
    color: #333333;
}
.footer-items li:last-child i:hover {
    color: black;
}
.footer-items img {
    width: 100px;
}
.footer-text {
    text-align: center;
    font-size: 12px;
    font-family: var(--main-text-font);

}
.footer-bottom {
    padding: 10px 0;
    font-size: 12px;
    font-family: var(--main-text-font);
    background-color: #dddddd;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    
}

/* reponsive */
@media (max-width: 991px) and (min-width: 768px)
{

    .menu-banner {
        flex: 0 0 calc(100% - 30px);
    }
    .cartegory-right-content-item {
      -ms-flex: 0 0 calc(50% - 30px);
      -webkit-flex: 0 0 calc(50% - 30px);
      flex: 0 0 calc(50% - 30px);
  }
}
@media screen and (max-width: 1200px) {
  .wrapper .logo {
     left: 3%;
  }
  .nav-links li a{
      font-size: 13px;
      padding: 9px 11px;
    }
  
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: 0 auto;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0;

}


@media screen and (max-width: 1024px) {
  .wrapper .logo {
     
     margin-left: auto;
     margin-right: auto;
  }
  .wrapper label {
      
  }
  .wrapper .btn{
    display: block;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #f2f3f4;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 7px;
  }
  ::-webkit-scrollbar-track {
    background: #e6e6e6;
  }
  ::-webkit-scrollbar-thumb {
    background: #afafaf;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box{
    max-height: 100%;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #b25111;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #3A3B3C;
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 19px;
  }
}

.product {
  padding: 100px 0;
  border-bottom: 1px solid #dddddd;
}
.product-top {
  margin-bottom: 30px;
}
.product-top p {
  font-family: var(--main-text-font);
  margin: 0 12px;
  font-size: 12px;
}
.product-content{
  width: 1000px;
  margin: auto;
  justify-content: center;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
}
.product-content .row {
  justify-content: center;
}
.product-content-left {
  width: 50%;
}
.product-content-left-big-img {
  width: 100%;
  padding: 40px;
}
.product-content-left-big-img img {
  width: 100%;
}
.product-content-left-small-img {
  width: 20%;  
}

.product-content-left-small-img img {
  width: 70%;
  cursor: pointer;
  margin-bottom: 6px;
}
.product-content-right {
  width: 50%;
  padding: 40px;
  
}
.product-content-right-product-name h1 {
  font-family: var(--main-text-font);
  font-size: 16px;
}
.product-content-right-product-name p {
  color: #cccccc;
  font-size: 12px;
}
.product-content-right-product-price {
  margin: 12px 0;
  font-size: 20px;
  font-weight: bold;
  font-family: var(--main-text-font);
}
.product-content-right-product-color img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.product-content-right-product-color-IMG {
  width: 40px;
  height: 40px;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px 0;
}
.size  {
  display: flex;
  margin-bottom: 20px;
  
} 
.size-item {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
 
}
.size-item input {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: transparent;
  opacity: 0;
  cursor: pointer;
}
.size-item span {
  font-size: 11px;
}
.size-item input:checked~ span {
  color: red;
}
.quantity {
  display: flex;
  margin-bottom: 20px;
}
.quantity input {
  width: 35px;
  padding-left: 3px;
}
.product-content-right-product-button button {
  width: 150px;
  height: 40px;
  display: block;
  margin: 20px 0 12px;
}
.product-content-right-product-button button:first-child {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffff;
  border: 2px solid black;
  cursor: pointer;
}
.product-content-right-product-button button:first-child:hover {
  background-color: black;
  color: #ffff;
}
.product-content-right-product-button button:last-child {
  border: 2px solid #BF8A49;
  color: #BF8A49;
  background-color: #ffff;
  cursor: pointer;
}
.product-content-right-product-icon {
  display: flex;
}
.product-content-right-product-icon-item {
  display: flex;
  margin-right: 12px;
  justify-content: center;
  align-items: center;
}
.product-content-right-product-icon-item i {
  font-size: 12px;
  margin-right: 6px;
}
.product-content-right-product-QR {
  margin: 20px 0;
}
.product-content-right-bottom {
  padding-top: 40px;
  border-top: 1px solid #dddddd;
  position: relative;
}
.product-content-right-bottom-top {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  cursor: pointer;
}
.product-content-right-bottom-title {
  display: flex;
  border-bottom: 2px solid #dddddd;
}
.product-content-right-bottom-title-item {
  padding: 6px 6px;
  cursor: pointer;
  margin-right: 6px;
}
.product-content-right-bottom-content {
  padding-top: 30px;
}
.product-content-right-bottom-content p {
  font-family: var(--main-text-font);
  font-size: 12px;
}
.product-content-right-bottom-title-item h1{
  padding: 20px;
}
.product-content-right-bottom-content-detail{
  justify-content: center;
}
.product-content-right-bottom-title-item p {
  font-family: var(--main-text-font);
}
.product-content-right-bottom-content-baoquan {
  display: none;
}
.product-content-right-bottom-content-big
{display: block;}
.activeB {
  display: none;
}



/* abc */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

li {
  list-style: none;
}

/* header */

/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: 0 auto;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0;

}

.modal-body {
  padding: 1rem;
}

.modal-footer {
  display: flex;
  border-top: 1px solid #aaaaaa;
  padding: 1rem;
  flex-direction: row;
  justify-content: flex-end;
  border-top: 1px solid #aaaaaa;
  padding: 1rem;
}

.modal-footer>:not(:first-child) {
  margin-left: .25rem;
}

.btn {
  cursor: pointer;
  outline: none;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: all .2s ease-in-out;
}

.btn-secondary {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
}

.btn-primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.modal-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #aaaaaa;
  padding: 1rem;
}

h5.modal-title {
  font-size: 1.5rem;
}

.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#cart {
  font-size: 15px;
  color: #fff;
  background: #c7b200;
  border: 1px solid transparent;
  border-radius: 10px;
  outline: none;
  padding: 12px;
  cursor: pointer;
}

#cart:hover {
  border-color: #fff;
}

/* wrapper */
.wrapper {
  padding: 2rem;
}

.products ul {
  display: inline-block;
}

.products ul .main-product {
  margin-bottom: 2rem;
  margin-right: 1rem;
  display: block;
  float: left;
  width: 24%;
}


.products ul .img-product img {
  width: 100%;
}




.main-product .content-product .content-product-deltals .price {
  color: #c7b200;
  font-weight: 700;
  margin-right: 1rem;
  vertical-align: middle;
  font-size: 20px;
}

.content-product .content-product-deltals .price .money {
  vertical-align: middle;
}


.content-product .content-product-deltals .btn-cart:hover {
  background: #da8433;
}



/* cart */
.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #EB5757;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #CC4C4C;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}
.remove{
  padding:5px;
  border:none;
  margin-top:5px;
  border-radius: 10px;
  display: none;
}
